@import url('https://fonts.googleapis.com/css?family=Signika:300,600');
@import url('https://fonts.googleapis.com/css?family=Rufina:700');
body {
	font-family: Signika, Helvetica, sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Rufina, Times, serif;
	font-weight: 700;
}

a {
	color: #fff;
	text-decoration: none;
}

a::before,
a::after {
	content: '\00a0';
}

header {
	text-align: right;
}

.teaser {
	color: #46418E;
	padding: 0 30px;
}

:nth-child(6)>a {
	background-color: #58A5DA;
}

:nth-child(6n-1)>a {
	background-color: #46418E;
}

:nth-child(6n-2)>a {
	background-color: #CC3E8E;
}

:nth-child(6n-3)>a:not(.exit) {
	background-color: #C6474C;
}

:nth-child(6n-4)>a {
	color: #4d4d4d;
	background-color: #F4EC49;
}

:nth-child(6n-5)>a {
	background-color: #519961;
}

main {
	margin: 40px 0 15px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	font-size: 1.2em;
	margin: 15px 10px;
}

nav ul li a {
	padding: 10px;
}

@media (min-width: 600px) {
	main,
	aside ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1600px) {
	main,
	aside ul {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

main>div,
aside ul a {
	padding: 0 10px 10px;
	margin: 0 20px 20px 0;
	border: 3px solid black;
}

main>div:nth-child(1),
aside ul a:nth-child(3) {
	border-color: #58A5DA;
}

aside ul a:nth-child(3):hover {
	color: white;
	background-color: #58A5DA
}

aside ul a:nth-child(3) button {
	background-color: #58A5DA;
}

main>div:nth-child(2),
aside ul a:nth-child(2) {
	border-color: #CC3E8E;
}

aside ul a:nth-child(2):hover {
	color: white;
	background-color: #CC3E8E
}

aside ul a:nth-child(2) button {
	background-color: #CC3E8E;
}

main>div:nth-child(3) {
	border-color: #F4EC49;
}

main>div:nth-child(4),
aside ul a:nth-child(1) {
	border-color: #519961;
}

aside ul a:nth-child(1):hover {
	color: white;
	background-color: #519961
}

aside ul a:nth-child(1) button {
	background-color: #519961;
}

main>div:nth-child(5),
aside ul a:nth-child(4) {
	border-color: #C6474C;
}

aside ul a:nth-child(4):hover {
	color: white;
	background-color: #C6474C
}

aside ul a:nth-child(4) button {
	background-color: #C6474C;
}

main>div:nth-last-child(1) {
	grid-column-end: span 2;
}

aside>div {
	padding: 5px 0;
	margin: 10px 0;
}

aside a {
	color: #000000;
	background-color: #ffffff;
	display: block;
}

aside a::before,
aside a::after {
	content: '';
}

aside ul {
	list-style: none;
	padding: 0;
}

aside ul a {
	position: relative;
	padding-bottom: 25px;
}

aside button {
	font-family: Signika, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	padding: 2px 7px;
	border: none;
}

form {
	padding: 0 20px;
	width: 100%;
}

form>* {
	margin: 10px 0;
	display: block;
	width: 80%;
}
form label {
	font-weight: 600;
	margin-top: 30px;
}

form input {
	height: 50px;
	padding: 5px 20px;
}

form textarea {
	height: 300px;
	padding: 20px;
}

form input,
form textarea {
	border: none;
	border-bottom: 3px solid #519961;
	background-color: #51996150;
	font-size: 1.3em;
	font-family: Signika, Helvetica, sans-serif;
	outline: none;
}

form input:active,
form textarea:active,
form input:focus,
form textarea:focus {
	border-bottom: 3px solid #58A5DA;
	background-color: rgba(88, 166, 218, 0.336);
}

form input[type=submit] {
	background-color: rgba(70, 65, 142, 0.438);
	border-bottom: 3px solid #46418E;
	margin-top: 30px;
	color: white;
	width: 120px;
	cursor: pointer;
}

footer {
	margin-left: 0;
	background-color: #4d4d4d;
	margin: -10px;
	margin-top: 50px;
}

footer p {
	padding: 15px;
	margin: 0;
	color: #e6e6e6;
	text-align: center;
}